<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiment Set Up</title>
    <link rel="stylesheet" type="text/css" href="../public/assets/bootstrap/css/bootstrap.min.css">

</head>
<body>

    <p id="connection-state" style="display:none;"></p>

    <!-- <section class="container">
    <div class="form-container">

    <form id="json-form">

            <h2 class="with-bar">Charge the model you want</h2>

            <div class="field">
                <label for="model-file-path">Model file path</label>
                <input type="text" id="model-file-path" name="model_file_path">
            </div>

            <div class="field">
                <label for="experiment-name">Experiment name</label>
                <input type="text" id="experiment-name" name="experiment_name">
            </div>
    

            <div class="button">
            <input class="default-button" type="submit" value="Save">
            </div>
        </div>
    </form>
    </section> -->
<div class="container-fluid mt-3">
    <form class="row gx-3 gy-2 align-items-center" id="json-form">

        <div class="col-sm-5">
            <label class="visually-hidden"  for="model-file-path">Model file path</label>
            <div class="input-group">
              <div class="input-group-text">PATH</div>
              <input type="text" class="form-control" id="model-file-path" name="model_file_path">
            </div>
          </div>
    
        <div class="col-sm-5">
          <label class="visually-hidden"  for="experiment-name">Experiment name</label>
          <div class="input-group">
            <div class="input-group-text">EXP</div>
            <input type="text" class="form-control" id="experiment-name" name="experiment_name">
          </div>
        </div>

    
    
        <div class="col-auto mx-auto mt-3">
          <!-- <button type="submit" >Submit</button> -->
          <input class="btn btn-primary col-12" type="submit" value="Save">

        </div>
      </form>
</div>

    <script src="settings.js"></script>
    <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
