<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <!-- Add the file from server/views/assets/bootstrap/css/bootstrap.min.css  -->
    <link rel="stylesheet" type="text/css" href="./assets/bootstrap/css/bootstrap.min.css">
    <!-- Add the file from server/views/assets/css/custom-carousel.css  -->
    <link rel="stylesheet" type="text/css" href="./assets/css/custom-carousel.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8"><img src="./assets/images/1.png" class="img-fluid" alt="..."></div>
            <div class="col-6 col-md-4">Remote controle</div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <button type="button" class="btn btn-outline-primary">ic1</button>
                <button type="button" class="btn btn-outline-secondary">ic2</button>
                <button type="button" class="btn btn-outline-success">ic3</button>
                <button type="button" class="btn btn-outline-danger">ic4</button>
            </div>
            <div class="col-6 col-md-4">Remote controle</div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-border text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </table>    
        </div>
    </div>
</body>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
</html>