<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Page</title>
    <!-- Add the file from server/views/assets/bootstrap/css/bootstrap.min.css  -->
    <link rel="stylesheet" type="text/css" href="./assets/bootstrap/css/bootstrap.min.css">
    <!-- Add the file from server/views/assets/css/custom-carousel.css  -->
    <link rel="stylesheet" type="text/css" href="./assets/css/custom-carousel.css">
</head>
<body>
    <div class="card-group">
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">
                <h5 class="card-title text-center">Player 1</h5>
            </div>
          <div class="card-body">
            <img src="./assets/images/waiting-page.jpg" class="card-img-top" alt="...">
            <button type="button" class="btn btn-secondary btn-lg rounded-pill" disabled>Connected</button>
          </div>
        </div>
        
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">
                <h5 class="card-title text-center">Player 2</h5>
            </div>
          <div class="card-body">
            <img src="./assets/images/waiting-page.jpg" class="card-img-top" alt="...">
            <button type="button" class="btn btn-secondary btn-lg rounded-pill" disabled>Connected</button>
          </div>
        </div>
        
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">
                <h5 class="card-title text-center">Player 3</h5>
            </div>
          <div class="card-body">
            <img src="./assets/images/waiting-page.jpg" class="card-img-top" alt="...">
            <button type="button" class="btn btn-secondary btn-lg rounded-pill" disabled>Connected</button>
          </div>
        </div>
        
        <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">
                <h5 class="card-title text-center">Player 4</h5>
            </div>
          <div class="card-body">
            <img src="./assets/images/waiting-page.jpg" class="card-img-top" alt="...">
            <button type="button" class="btn btn-secondary btn-lg rounded-pill" disabled>Connected</button>
          </div>
        </div>
      </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary " type="button">
                <a href="game_page.html" class="text-white">
                START THE GAME
            </a>
            </button>
        </div>
</body>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
</html>