<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gama Remote Controller Monitor Page</title>
    <link rel="stylesheet" type="text/css" href="../public/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
       <nav class="navbar navbar-expand-lg bg-body-secondary bg-dark">
        <div class="container-fluid">
          <div class="container col-md-2 text-left">
            <a class="navbar-brand " href="#">
              <img src="../public/assets/images/SIMPLE_Logo.png" alt="Bootstrap" class="img-fluid">
            </a>
          </div>
          <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="../public/assets/icons/hamburgerMenu.png" alt="menu" width="30" height="30">
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
  
              <li class="nav-item">
                <a class="nav-link text-white" href="/homepage">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/kiosque">Kiosque</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/history">History</a>
              </li>
            
            </ul>
           
          </div>
        </div>
      </nav>

    <div class="row">
        <div class="col-md-8">
            <div class="border border-4 border-bottom border-black text-center">
                <!-- <video class="img-fluid"  preload autoplay>
                    <source src="../public/assets/video/Multi Player Game.mp4" type="video/mp4">
                </video> -->
                <img src="../public/assets/images/video.png" class="img-fluid" alt="Responsive image">
            </div>


            <div class="mt-2">
                
                <!-- TOAST MESSAGES -->
                <div class="gama-section">                    
                    <div id="simulation-controls" class="video-controls">
                        <button type="button" class="btn btn-outline-primary" id="start-simulation" hidden>
                            <img src="../public/assets/icons/play-solid.svg" width="20px" height="20px" alt="Start Icon">
                            Launch
                        </button>
                        <button class="btn btn-outline-success" id="resume-simulation">
                           Play
                        </button>
                        <button class="btn btn-outline-secondary" id="pause-simulation">
                            <img src="../public/assets/icons/stop-solid.svg" width="20px" height="20px" alt="Stop Icon">
                            Pause
                        </button>
                        <button class="btn btn-outline-danger" id="stop-simulation">Quit the game</button>
                        
                        <p id="gama-loader"></p>
                    </div>
            
                    <p>
                        <a id="content-error">

                        </a>
                    </p>

                    <!-- Alert messages
                    <div class="alert alert-danger" role="alert">
                        <a id="content-error">

                        </a>
                      </div> -->
                </div>
            </div>
        </div>


        <div class="col-md-4">

        <!-- FILEPATH: /Users/m2l2/github.com/web-platform/server/views/game_page.html -->
        <!--
            This HTML code represents a table that displays player information and options for VR mode and projector.
            The table has three columns: "Player", "VR MODE", and "PROJECTOR".
            Each row represents a player and their corresponding options.
            The "VR MODE" and "PROJECTOR" options are clickable buttons that redirect to different HTML pages.
        -->
        <p id="connection-state" style="display:none;"></p>

                <!-- The span tag below should not be deleted for the moment  -->
                
            <span class="default-button" id="try-connection" ></span>
            <div class="row">
            <!-- <div class="card col-sm-6 mb-3 mb-sm-0" style="width: 18rem;">

                <div class="card-body">
                  <h5 class="card-title" >  &#x274C;</h5>
                   
                </div>
              </div>
              <div class="card mb-3 col-sm-6 mb-3 mb-sm-0" style="width: 18rem;">

                <div class="card-body">
                  <h5 class="card-title" id="simulation-launched"> &#x274C; The Simulation is Not Launched</h5>
                   
                </div>
              </div> -->


              <!-- ------------ -->

              <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" id="gama-connection-state">You are not Connected</h6>
                  
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" id="simulation-launched">&#x274C6 The Game is Not Launched</h6>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="sections">
                <div class="player-section mb-3">
                    <h2 class="with-bar">Players</h2>
                    <div>
                        <!-- <button class="default-button" id="add-everyone" hidden>Add all the players to the game</button> -->
                        <button class="default-button" id="remove-everyone" >Remove all the players</button>
                        <button class="default-button" id="clean-all">Clean all disconnections</button>
                    </div>
                 
                </div>
                <!-- <button class="default-button" id="start-simulation" >Activate the game</button> -->
                <button class="default-button" id="add-everyone" hidden>START</button>
            </div>
            </div>
            
              <div id="player-container">

              </div>
            

        <!-- <table class="table text-center border border-1 border-dark">
            <thead>
              <tr>
                <th scope="col">Player</th>
                <th scope="col">
                    <image src="../public/assets/icons/vr.png" width="50px" height="50px" alt="VR MODE">
                    
                </th>
                <th scope="col">
                    <image src="../public/assets/icons/projector.png" width="50px" height="50px" alt="PROJECTOR">
                    
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Player 1</td>
                <td>
                   If VR MODE IS CHOSEN, IT SHOULD GO IN SCRCPY PAGE WITHIN THE CHOSEN DEVICE AND SHOW THE LIVE STREAMING OF THIS DEVICE  -->
                    <!-- <a href="./vr_mode.html">
                        <button type="button" class="btn btn-outline-primary">VR MODE</button>
                    </a>
                </td>
                <td>
                    <a href="./projector.html">
                        <button type="button" class="btn btn-outline-primary">PROJECTOR</button>
                    </a>
                </td>
              </tr>
             
            </tbody>
        </table> --> 
          
    </div>

</div>  

<div class="row">
  
 
</div>
    <!-- <p id="connection-state" style="display:none;"></p> -->

    <!-- <div class="sections">
        
        <div class="gama-section">
            <h2 class="with-bar">Gama Server</h2>
            
            <button class="default-button" id="try-connection" hidden>Try Connection</button>
            <p id="gama-connection-state">&#x274C; You are not Connected to Gama-platform</p>
            <p id="simulation-launched">&#x274C; The game not started yet</p>
            
            <div id="simulation-controls">
                <button class="default-button" id="start-simulation" hidden>Launch the game</button>
                <button class="default-button" id="resume-simulation">Start/Resume</button>
                <button class="default-button" id="pause-simulation">Pause</button>
                <button class="default-button" id="stop-simulation">Quit the game</button>
                
                <p id="gama-loader"></p>
            </div>

            <p><a id="content-error"></a></p>
        </div>
    </div> -->
    <script src="monitor.js"></script>
    <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
