<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gama Server Middleware</title>
    <link rel="stylesheet" type="text/css" href="../public/assets/bootstrap/css/bootstrap.min.css">

</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-secondary bg-dark">
    <div class="container-fluid">
      <div class="container col-md-2 text-left">
        <a class="navbar-brand " href="#">
          <img src="../public/assets/images/SIMPLE_Logo.png" alt="Bootstrap" class="img-fluid">
        </a>
      </div>
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../public/assets/icons/hamburgerMenu.png" alt="menu" width="30" height="30">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">

          <li class="nav-item">
            <a class="nav-link text-white" href="/homepage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/monitor">Monitor</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-white" href="/kiosque">Kiosque</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-white" href="/settings">Settings</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-white" href="/history">History</a>
          </li> -->
        
        </ul>
       
      </div>
    </div>
  </nav>

    <p id="connection-state" style="display:none;"></p>

    <div class="sections">
        
        <div class="gama-section">
            <h2 class="with-bar">Waiting Room</h2>
            
            <button class="default-button" id="try-connection" hidden>Try Connection</button>
            <p id="gama-connection-state" hidden>&#x274C; You are not Connected to Gama-platform</p>
            <p id="simulation-launched" hidden>&#x274C; The game not started yet</p>
            
            <div id="simulation-controls">
                <!-- <span class="default-button" id="start-simulation" hidden>Launch the game</span> -->
                <button class="default-button" id="resume-simulation" hidden>Start/Resume</button>
                <button class="default-button" id="pause-simulation" hidden>Pause</button>
                <button class="default-button" id="stop-simulation" hidden>Quit the game</button>
                
                <p id="gama-loader"></p>
            </div>

            <p><a id="content-error"></a></p>
        </div>
        <div class="player-section">
            <h2 class="with-bar">Players</h2>
            <div>
                <!-- <button class="default-button" id="add-everyone" hidden>Add all the players to the game</button> -->
                <button class="default-button" id="remove-everyone" hidden>Remove all the players from the game</button>
                <button class="default-button" id="clean-all" hidden>Clean all the disconnected</button>
            </div>
            
            <ul id="player-container"></ul>
        </div>
        <button class="default-button" id="start-simulation" >Activate the game</button>
        <button class="default-button" id="add-everyone">START</button>
    </div>
    <script  src="../monitor/monitor.js"></script>
    <script src="../views/public/assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
